@font-face {
  font-family: "black";
  src: url("../public/fonts/Poppins-Black.ttf");
}

@font-face {
  font-family: "blackItalic";
  src: url("../public/fonts/Poppins-BlackItalic.ttf");
}

@font-face {
  font-family: "bold";
  src: url("../public/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "boldItalic";
  src: url("../public/fonts/Poppins-BoldItalic.ttf");
}

@font-face {
  font-family: "extraBold";
  src: url("../public/fonts/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: "extraBoldItalic";
  src: url("../public/fonts/Poppins-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: "extraLight";
  src: url("../public/fonts/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: "extraLightItalic";
  src: url("../public/fonts/Poppins-ExtraLightItalic.ttf");
}

@font-face {
  font-family: "italic";
  src: url("../public/fonts/Poppins-Italic.ttf");
}

@font-face {
  font-family: "light";
  src: url("../public/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "lightItalic";
  src: url("../public/fonts/Poppins-LightItalic.ttf");
}

@font-face {
  font-family: "medium";
  src: url("../public/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "mediumItalic";
  src: url("../public/fonts/Poppins-MediumItalic.ttf");
}

@font-face {
  font-family: "regular";
  src: url("../public/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "semiBold";
  src: url("../public/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "semiBoldItalic";
  src: url("../public/fonts/Poppins-SemiBoldItalic.ttf");
}

@font-face {
  font-family: "thin";
  src: url("../public/fonts/Poppins-Thin.ttf");
}

@font-face {
  font-family: "thinItalic";
  src: url("../public/fonts/Poppins-ThinItalic.ttf");
}
